/* YOUR CUSTOM STYLES */

       .navbar {
            background-color: #dfe9f0;
           font-weight: 400;
     }
/*
        nav-item a {
        color: black;
     }   
*/
       footer.page-footer a {
        color: #323232;
     }

      footer.page-footer {
            background-color: #dfe9f0;
            margin-top: 2rem;
            color: black;
        
        }
/*
.navbar.navbar-dark .navbar-brand, .navbar.navbar-dark .navbar-brand:hover {
    color: #4c4c4c;
}

.navbar.navbar-dark .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a {
    color: #4c4c4c;
}

.navbar.navbar-dark .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a:hover {
    color: #4c4c4c;
}
*/

.invisible{
  display: none;
}

.panel{
   margin-bottom: 2rem;
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
