<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <header>
        <!--Navbar-->
        {% include navbar.html %}
        <!--/.Navbar-->
    </header>

    <main>
        <!--Main layout-->
        <div class="container">
            <!--Page heading-->
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-md-12">
                    <h1 class="h1-responsive">About {{ site.title }}</h1>
                </div>
            </div>
            <!--/.Page heading-->
            <hr>

            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <!-- TODO -->
            </div>
        </div>
    </main>

    {% include scripts.html %}

    <script>
        $(document).ready(function(){
            $('table').each(function(i, table){
                $(table).addClass("table table-striped table-bordered");
            });
            $('thead').each(function(i, head){
                $(head).addClass("thead-inverse");
            });
        });
    </script>
</body>

</html>