<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <header>
        <!--Navbar-->
        {% include navbar.html %}
        <!--/.Navbar-->
    </header>

    <main>
        <!--Main layout-->
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                    <h1 class="h1-responsive">Contribution Guide</h1>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <h3 class="card-header danger-color-dark white-text"><i class="fa fa-exclamation"></i>
                                     NOTE: ONLY ONE LANGUAGE PER PERSON WILL BE ACCEPTED
                                </h3>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="card">
                                <h3 class="card-header default-color-dark white-text"><i class="fa fa-code-fork"></i>  How to Contribute</h3>
                                <div class="card-block">
                                    <p class="card-text">
                                        Contributing is easy! Simple fork the repo on GitHub, take the template file below and insert the code and other values. Save it in the _programs folder as LANGUAGE.md and send a pull request.
                                    </p>
                                    <a href="https://github.com/crnbrdrck/hello.world" target="_blank" class="btn btn-outline-primary waves-effect btn-block"><i class="fa fa-github"></i> Repo</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <h3 class="card-header primary-color-dark white-text"><i class="fa fa-file-text-o"></i>  Contribution Example</h3>
                                <div class="card-block">
                                    <p class="card-text">
                                        Below is the file that is used to generate my java snippet on the home page. Copy this and replace java with whatever language you're using.
                                        <pre>{% include_relative _programs/java.md %}</pre>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                    <h1 class="h1-responsive">Current Contributors</h1>
                    <hr/>
                    {{ content }}
                </div>
            </div>
        </div>
    </main>

    {% include scripts.html %}

    <script>
        $(document).ready(function(){
            $('table').each(function(i, table){
                $(table).addClass("table table-striped table-bordered");
            });
            $('thead').each(function(i, head){
                $(head).addClass("thead-inverse");
            });
        });
    </script>
</body>

</html>
