<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <header>
        <!--Navbar-->
        {% include navbar.html %}
        <!--/.Navbar-->
    </header>

    <main>
        <!--Main layout-->
        <div class="container">
            <!--Page heading-->
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-md-12">
                    <h1 class="h1-responsive">{{ site.title }}
                        <small class="text-muted">{{ site.description }}</small>
                    </h1>
                </div>
            </div>
            <!--/.Page heading-->
            <hr>

            <!--First row-->
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                {% assign programs = (site.programs | sort:"lang") %}
                {% for program in programs %}
                    {% include card.html program=program %}
                {% endfor %}
            </div>
            <!--/.First row-->
        </div>
        <!--/.Main layout-->
    </main>
    <!-- SCRIPTS -->

    {% include scripts.html %}
    
    <script>
    $(document).ready(function(){
        $('.card-block').matchHeight();
        $(window).resize(function(){
            $('.card-block').matchHeight();
        });
        
        // Searching
        var lastSearch = "";
        var searchBox = $('#search');
        searchBox.keyup(function(e){
            var search = searchBox.val().toLowerCase();
            if(search !== lastSearch){
                // Hide all the cards and make all cards beginning with the search term visible
                $('[class*="card-lang"]').each(function(i, elmnt){
                    $(elmnt).css("display", "none");
                });
                $('[class*="card-lang-' + search + '"]').each(function(i, elmnt){
                    $(elmnt).css("display", "block");
                });
            }
            lastSearch = search;
        });
        
        $('form').submit(function(e){
            e.preventDefault();
        });
    })
    </script>
    
</body>

</html>
